html.lenis
  height auto

.lenis.lenis-smooth
  scroll-behavior auto

.lenis.lenis-smooth [data-lenis-prevent]
  overscroll-behavior contain

.lenis.lenis-stopped
  overflow hidden

.lenis.lenis-scrolling iframe
  pointer-events none

.splide.is-initialized:not(.is-active) .splide__list
  display flex !important
  gap 2rem

.arrow
  user-select none

.testimonials__slider, .presence__slider, .bump__slider, .study-gallery__slider
  .splide__track
    overflow visible

/* ------------------------------ */

// .filter__search:not(:placeholder-shown) ~ .search__ico-wrap .search-ico
//   opacity 0
//   visibility hidden
// .filter__search:not(:placeholder-shown) ~ .search__ico-wrap .x-ico
//   opacity 1
// .filter-select__select:not(:placeholder-shown)
//   background-image: none
//   &::after
//     content url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L19 19' stroke='currentColor'/%3E%3Cpath d='M19 1L1 19' stroke='currentColor'/%3E%3C/svg%3E")
//     position absolute
//     top 50%
//     right 0.5rem
//     transform translateY(-50%)
//     width 1.5rem
//     height 1.5rem
//     fill currentColor

// .filter__search
//   background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8' cy='8' r='7.5' stroke='currentColor'/%3E%3Cpath d='M13 13L18 18' stroke='currentColor'/%3E%3C/svg%3E%0A");
//   background-repeat no-repeat
//   background-position right 2rem center
//   background-size 1em

// .filter-select__select
//   --active-tab var(--blue1)
//   height 3.5rem !important
//   appearance: none

// @media screen and (min-width 992px)
//   .filter-select__select

//     option
//       font-weight 500
//       padding 0 1.5rem
//       align-items center
//       display inline-flex
//       cursor pointer
//       height 100%
//       transition all 300ms
//       &:hover
//         color var(--blue1)

//     option:not(:last-child)
//     // option:not(:first-child):not(:last-child)
//       box-shadow 1px 0px 0px 0px rgba(0, 0, 0, 0.15)

//     option:checked
//       background: var(--active-tab) linear-gradient(0deg, var(--active-tab) 0%, var(--active-tab) 100%);
//       color white
//       color -internal-inactive-list-box-selection-text !important
//       box-shadow none

//     // option:checked + option
//     //   box-shadow: none

// @media screen and (max-width 991px)
//   .filter-select__select
//     padding: 0 2rem 0 1.5rem
//     background-image url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http:\/\/www.w3.org\/2000\/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e")
//     background-repeat no-repeat
//     background-position right 1rem center
//     background-size 1em
//     border none
      
      


